/*
Theme Name: Strongly Typed Theme
Theme URI: https://localhost/wpacademy/
Author: anchy_991
Description: Strongly Typed Theme is clean, blog-focused, and designed for clarity. Strongly Typed's simple, straightforward typography is readable on a wide variety of screen sizes, meaning your content takes center-stage, regardless of whether your visitors arrive by smartphone, tablet, laptop, or desktop computer.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: blog, two-columns, left-sidebar, right-sidebar, custom-logo, custom-menu, editor-style, featured-images,  post-formats,  sticky-post
Text Domain: strongly-typed-theme
*/

.wp-caption {

}
.wp-caption-text {

}
.sticky {

}
.screen-reader-text {

}
.gallery-caption {

}
.bypostauthor {

}
.alignright {

}
.alignleft {

}
.aligncenter {

}

