body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans';
}
a {
	color: #ca1f5a;
}

.parallax-window {
	position: relative;
	height: 900px;
    background: transparent;
}
.parallax-contact {
	position: relative;
    background: transparent;
    background-attachment: fixed;
}

/*.header {
	position: relative;
	height: 800px;

	background: url("../images/header-background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.layer {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;

	background: -webkit-linear-gradient(left,#ca1f5a,#732b84); /*Safari 5.1-6*/
  	background: -o-linear-gradient(right,#ca1f5a,#732b84); /*Opera 11.1-12*/
  	background: -moz-linear-gradient(right,#ca1f5a,#732b84); /*Fx 3.6-15*/
  	background: linear-gradient(to right, #ca1f5a, #732b84); /*Standard*/

	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}
.layer-contact {
	position: absolute;
	left: 0; 
    width: 100%;
    height: 100%;
    z-index: 2;

	background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}
.parallax {
	position: relative;
	margin: 15% auto;
	width: 70%;
}

.menu {
	padding-left: 0;
	margin-top: 10px;
}
.menu-item {
	list-style-type: none;
	padding: 0 10px; 
}
.menu-item a {
	text-decoration: none;
}
@media (min-width: 768px) {
	.menu {
		float: right;
	}
	.menu-item {
		float: left;
	}
}

@media (max-width: 785px) and (min-width: 768px){
	.collapse {
		padding-right: 0;
	}
}

#navigation {
	position: relative;
	width: 80%;
	margin: 0px auto;
	padding: 30px 0;
	background-color: transparent;
    border-color: transparent;
}
@media (max-width: 1024px) and (min-width: 768px) {
	#navigation {
		width: 90%;
	}
}
@media (min-width: 768px) and (max-width: 970px) {
	#navigation {
		width: 100%;
	}
}

.custom-logo-link img {
	margin-top: 15px;
}

#menuButton {
	border-color: transparent;
}
#menuButton:focus, #menuButton:hover {
	background-color: rgba(157, 157, 157, 0.46);
}
#myNavbar {
	border-color: rgba(204, 204, 204, 0.74);
}

#navigation li {
	margin: 0 12px;
	padding: 10px 0;
}
#navigation li a {
	color: #fff;
	padding-top: 2px;
	padding-bottom: 10px;
	font-family: 'PT Sans';
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}
#navigation li a:hover {
	border-bottom: 2px solid #fff;
}

.contactButton {
	border-radius: 25px;
    width: 150px;
    height: 48px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    padding: 12px 0px;
    text-align: center;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.contactButton-color {
	background-color: #b93176;
}
.contactButton a {
	display: block;
	text-decoration: none;
	font-family: 'PT Sans';
    border-bottom: none !important;
}
.contactButton:hover {
	opacity: 0.7;
	color: #fff;
}

.navbar-brand {
	padding-left: 5px;
    padding-right: 0;
}

#scroll {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.home-container {
	background: #fff;
}
.blog .container {
	margin: 0 auto;
}
.container-center {
	margin: 0 auto;
}
@media (min-width: 1200px) {
	.blog .container {
		width: 1170px;
	}
	.container-center {
		width: 1170px;
	}
}

.service-header { 
	width:322px;
	text-align:center;
	border-bottom: 2px solid #ccc;
	line-height:0.1em;
	margin: 80px auto;
} 
.service-header span {
	background:#fff;
	padding:0 20px;
	font-weight: bold;
	font-size: 36px;
}
.service-col {
	background-color: transparent;
	border: none;
	padding-left: 10px;
	padding-right: 10px;
}
.service-col a {
	text-decoration: none;
	color: black;
}
.service-col h3 {
	font-weight: bold;
}
@media (min-width: 1024px) {
	.services-width {
		width: 20%;
	}
}
@media (min-width: 1440px) {
	.services-row-width {
		width: 80%;
		margin: auto;
	}
}
.service-col .icon {
  	width: 100px;
  	height: 100px !important;
	margin: 10px;
	transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out; /* Safari 3.1 to 6.0 */
}
.service-col .icon:hover {
	transform: scale(1.1);
	-ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Chrome, Safari, Opera */
}

.featuredProject {
	margin-top: 100px;
	height: auto;
	padding-top: 100px;
	background: linear-gradient(177deg, #fff 170px, #e6e6e6 0) top left,
		    	linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	background-size: 100% 51%;
	background-repeat: no-repeat;
}

.headerFP {
	padding: 5% 0 5% 12%;
}
.headerFP h1 {
	color: #222;
	line-height: 46px;
	font-weight: bold;
	margin-top: 0;
}
.headerFP p {
	color: #666;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
}
.headerFP h4 {
	color: #666;
	font-weight: bold;
}
.vertical {
	position: relative;
}


@media (max-width: 1750px) and (min-width: 1401px) {
	.featuredProject {
    	margin-top: 50px;
    	background: linear-gradient(177deg, #fff 160px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.parallax-window {
		height: 700px;
	}
}
@media (max-width: 1400px) and (min-width: 990px) {
	.featuredProject {
    	margin-top: 20px;
    	margin-bottom: 50px;
    	background: linear-gradient(177deg, #fff 125px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.parallax-window {
		height: 700px;
	}
	.headerFP {
		padding-left: 5%;
	}
	.vertical {
		padding-top: 60px;
	}
}
@media (max-width: 991px) and (min-width: 450px) {
	.vertical {
    	display: none;
	}
	.headerFP {
		padding: 5%;
		text-align: center;
	}
	.featuredProject {
    	margin-top: 50px;
    	margin-bottom: 50px;
    	padding-top: 50px;
    	background: linear-gradient(177deg, #fff 70px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.parallax-window {
		height: 700px;
	}
	.margin0 {
		margin: 0 auto !important;
	}
}

@media (max-width: 451px) and (min-width: 376px) {
	.vertical {
    	display: none;
	}
	.featuredProject {
		margin-top: 50px;
		margin-bottom: 50px;
    	padding-top: 100px;
    	background: linear-gradient(177deg, #fff 70px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.headerFP {
		padding: 5%;
		text-align: center;
	}
	.parallax-window {
		height: 700px;
	}
	.margin0 {
		margin: 0 auto !important;
	}
}

@media (max-width: 375px) {
	.vertical {
    	display: none;
	}
	.headerFP {
		padding: 5%;
		text-align: center;
	}
	.featuredProject {
    	padding-top: 50px;
    	margin-bottom: 50px;
    	background: linear-gradient(177deg, #fff 40px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.service-header {
    	width: 270px;
	}
	.service-header span {
		padding: 0 10px;
	}
	.margin0 {
		margin: 0 auto !important;
	}
	.parallax-window {
		height: 650px;
	}
}

.team {
	padding: 0;
	position: static;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.63);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.63);
	-webkit-transition: -webkit-transform 0.4s, box-shadow 0.4s;
    transition: transform 0.4s, box-shadow 0.4s;
}
.team:hover {
	-ms-transform: translate(0,-100px);
    -webkit-transform: translate(0,-100px);
    transform: translate(0,-100px);
    -webkit-box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
	box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
}
.teamImg {
	width: 100%;
}
.teamDiv {
	text-align: center;
	position: absolute;
	bottom: 0;
  	left: 0;
  	right: 0;
  	overflow: hidden;
  	width: 100%;
  	height: 0;
  	transition: .5s ease;
  	-webkit-transition: .5s ease; /* Safari 3.1 to 6.0 */
}
.team:hover .teamDiv {
	background-color: #fff;
	bottom: -240px;
    height: 240px;

    -webkit-box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
	box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
}
.teamDiv h2 {
	font-weight: bold;
	padding-bottom: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.team:hover .teamDiv h2 {
	opacity: 1;
}
.teamDiv p {
	font-size: 18px;
	color: #808080;
	padding-bottom: 10px;
    margin: 0 20px;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.team:hover .teamDiv p {
	opacity: 1;
}
.team-row h4 {
	margin-bottom: 30px;
}
.team .text {
	color: #FFF;
	text-align: center;
	margin-top: -50px;
    visibility: hidden;
}
.team:hover .text {
	visibility: visible;
}
.team-row {
	padding-top: 50px;
	text-align: center;
}
.team-row:hover {
	position: relative;
	z-index: 2;
}
.team-correction {
	float: none;
	margin-left: -4px;
    max-width: 600px;
}
@media (min-width: 1440px) {
	.width {
		width: 20%;
	}
}
@media (min-width: 1025px) and (max-width: 1440px) {
	.teamDiv h2 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.team:hover .teamDiv {
		bottom: -250px;
    	height: 250px;
	}
}
@media (min-width: 769px) and (max-width: 1024px) {
	.teamDiv h2 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.team:hover .teamDiv {
		bottom: -250px;
    	height: 250px;
	}
}
@media (max-width: 768px) {
	.facss {
		padding: 10px !important;
    	width: 50px !important;
    	font-size: 30px !important;
	}
}
@media (max-width: 352px) {
	.team:hover .teamDiv {
		bottom: -320px;
    	height: 320px;
	}
}
.display-none {
	display: none;
}
.display-block {
	display: block;
}
.display-inline-block {
	display: inline-block !important;
}
.center-block {
	display: inline-block !important;
}
.invisible {
	visibility: hidden;
}
.visible {
	visibility: visible !important;
}
.purchase {
	background: url('../images/purchase-background.jpg');
	background-position: 100% 100% !important;
    background-repeat: no-repeat !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
	position: relative;
    z-index: 1;
}
.purchaseDiv {
	padding: 10% 0;
    margin-left: 15%;
    width: 25%;
}

@media (max-width: 991px) {
	.purchase {
		background: transparent !important;
	}
	.purchaseDiv {
		width: 70%;
	}
}

.contact {
	position: relative;
    z-index: 2;
    padding: 2% 0 3% 0;
    text-align: center;
    letter-spacing: 1.5px;
}
.contact h1 {
	color: #fff;
	line-height: 46px;
    font-weight: bold;
    margin-bottom: 10px;
}
.contact form {
	margin: 0 auto; 
	max-width: 600px;
}

.input--hoshi {
	font-size: 25px;
}
.input__label-content--hoshi {
	color: #fff;
}
.button-send {
	border-radius: 25px;
    width: 160px;
    height: 48px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 12px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: none;
}
.button-send:hover {
	opacity: 0.7;
}
.button-send-blue {
	color: #00aaff;
}
.button-send-green {
	color: #00ffaa;
}
.button-send-blue:hover {
	background-color: #00aaff;
}
.button-send-green:hover {
	background-color: #00ffaa;
}
.social {
	position: relative;
	text-align: center;
}
.social-icons {
	width: 50px;
	height: 50px;
	display: block;
	margin: 50px auto;
}

.icons-link {
	width: 280px;
	padding-left: 5%;
    padding-right: 5%;
}
@media (max-width: 1698px) and (min-width: 1307px) {
	.icons-link {
		width: 215px;
	}
}
@media (max-width: 1308px) and (min-width: 979px) {
	.icons-link {
		width: 160px;
	}
}
@media (max-width: 978px) and (min-width: 424px) {
	.icons-link {
		width: 200px;
    	padding-left: 5%;
    	padding-right: 5%;
	}
}
@media (max-width: 425px) and (min-width: 344px) {
	.icons-link {
		width: 170px;
	}
}
@media (max-width: 343px) {
	.icons-link {
		width: 140px;
	}
}

.footer {
	border-top: 3px solid #b3b3b3;
	position: relative;
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
}
.footer img {
	width: 200px;
	margin-bottom: 20px;
}
.footer h3 {
	font-weight: bold;
}
.footer h3 a {
	color: #cc004e;
	font-weight: normal;
}

.has-error {
	border: 2px solid #cc004e;
	border-radius: 25px;
}
.text_danger {
	color: red;
	position: relative;
    bottom: 90px;
    display: none;
}
.text-danger-block {
	display: block;
}
.js-form-submission {
	font-size: 16px;
	display: none;
}
.js-form-success {
	font-size: 16px;
	display: none;
}
.js-form-error {
	font-size: 16px;
	display: none;
	color: red;
}
.js-show-feedback {
	display: block;
}

.row {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.wpb_content_element, ul.wpb_thumbnails-fluid > li, .wpb_button {
	margin-bottom: 0 !important;
}

.vc_column-inner {
	padding-top: 0 !important;
}

hr {
	border-top: 2px solid #ccc;
}

.dropdown-menu>li>a {
	color: #000 !important;
}
.dropdown-menu>li>a:hover {
	color: #bfbfbf !important;
	border-bottom: 0 !important;
}
.dropdown-menu>li {
	padding: 0 10px !important;
	margin: 0 !important;
	width: 100%;
}
.dropdown-menu>.active, .dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
	background-color: transparent !important;
	color: #bfbfbf !important;
}
.active a{
	border-bottom: 2px solid #fff;
}


 /* posts */
.post-categories {
	list-style-type: none;
	padding-left: 1px;
	padding-right: 3px;
}
.post {
	min-height: 20px;
  	margin-bottom: 20px;
  	border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    padding: 9px;
  	border-radius: 3px;
}
.buttons a {
	padding: 10px 15px;
	background-color: #ca1f5a;
	border-radius: 25px;
	color: #fff;
}
.buttons a:hover {
	opacity: 0.75;
	text-decoration: none;
	color: #fff;
}
.read-more {
	margin-left: auto;
	margin-right: auto;
	width: 100px;
}
.entry-title a:hover {
	text-decoration: none;
}

.form-control:focus {
	border-color: #ca1f5a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(202, 31, 90);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgb(202, 31, 90);
}

@media (max-width: 375px) {
	#comment {
		width: 270px;
	}
}

.glyphicon {
	padding-left: 10px;
	padding-right: 10px;
	color: #a6a6a6;
}
.arroy {
	padding-left: 0;
	padding-right: 0;
}
.post-footer-contaioner {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #e6e6e6;
}
.enrty-footer {
	margin-top: 30px;
    margin-bottom: 30px;
}

/* 
	Comment section
	==========================
*/

.comments-area {
	border-top: 2px solid #ccc;
	margin-top: 20px;
	padding-top: 20px;
}
.comments-title {
	padding-bottom: 20px;
	padding-top: 10px;
}
.comment-content {
	margin-top: 15px; 
	margin-bottom: 20px;
	margin-left: 10px;
	border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    padding: 15px;
}
.comment-list {
	margin-top: 15px;
}
.comment-list li {
	min-height: 20px;
  	margin-bottom: 20px;
  	border: 1px solid #e3e3e3;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    padding: 9px;
  	border-radius: 3px;
}
.comment-metadata {
	margin-top: 10px;
}

.div-center {
	margin-left: auto !important;
	margin-right: auto !important;
}

.last-field {
	margin-bottom: 50px;
}

.tag {
	color: #000 !important;
}

/* Aside post format */

.adaptive-format-aside .button-container {
	margin-left: 20px;
}

/* Image post format */

.adaptive-format-image .enrty-excerpt {
	width: 60%;
	margin: 0 auto;
	float: none;
}
@media (max-width: 768px) {
	.adaptive-format-image .enrty-excerpt {
		width: 100%;
	}
}
.adaptive-format-image .entry-header {
	text-align: center;
}

/* Video post format */

.adaptive-format-video .entry-header {
	text-align: center;
}
.adaptive-format-video .entry-content {
	width: 60%;
	margin: 0 auto;
}
.adaptive-format-video .button-container {
	margin-top: 20px;
	text-align: center;
}
@media (max-width: 768px) {
	.adaptive-format-video .entry-content {
		width: 100%;
	}
}

/* Archive */

.content-archive .button-container a {
	margin-left: 20px;
}

/* Content Search */

.content-search .button-container a {
	margin-left: 20px;
	margin-top: 10px;
}

/* Social Icons */
.facss {
  	padding: 8px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.facss:hover {
    opacity: 0.7;
    color: #fff;
    text-decoration: none;
}
.fa-icons {
    padding: 5px;
    opacity: 0;
    -webkit-transition: opacity 1s;
    transition: opacity 1s;
    margin-top: 5px;
}
.team:hover .fa-icons {
	opacity: 1;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

/* 
	Widgets section 
	-------------------------------------------
*/

.adaptive-widget {
	
}