
body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: 'PT Sans';
}

.parallax-window {
	position: relative;
	height: 900px;
    background: transparent;
}
.parallax-contact {
	position: relative;
    background: transparent;
}

/*.header {
	position: relative;
	height: 800px;

	background: url("../images/header-background.jpg");
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.layer {
	position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;

	background: linear-gradient(to right, #ca1f5a, #732b84);

	background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}
.layer-contact {
	position: absolute;
	left: 0; 
    width: 100%;
    height: 100%;
    z-index: 2;

	background: linear-gradient(to right, #ca1f5a, #732b84);

	background-position: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.8;
}
.parallax {
	position: relative;
	margin: 15% auto;
	width: 70%;
}
.parallax h1 a {
  	color: #fff;
}

.parallax p {
	color: #d3d3d3;
}

.menu {
	padding-left: 0;
	margin-top: 10px;
}
.menu-item {
	list-style-type: none;
	padding: 0 10px; 
}
.menu-item a {
	text-decoration: none;
}
@media (min-width: 768px) {
	.menu {
		float: right;
	}
	.menu-item {
		float: left;
	}
}

#navigation {
	position: relative;
	width: 80%;
	margin: 0px auto;
	padding: 30px 0;
	background-color: transparent;
    border-color: transparent;
}
@media (max-width: 1024px) and (min-width: 768px) {
	#navigation {
		width: 100%;
	}
}
#menuButton {
	border-color: transparent;
}
#menuButton:focus, #menuButton:hover {
	background-color: rgba(157, 157, 157, 0.46);
}
#myNavbar {
	border-color: rgba(204, 204, 204, 0.74);
}

#navigation li {
	margin: 0 15px;
	padding: 10px 0;
}
#navigation li a {
	color: #fff;
	padding: 2px 0 10px 0;
	font-family: 'PT Sans';
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
}
#navigation li a:hover {
	border-bottom: 2px solid #fff;
}

.contactButton {
	border-radius: 25px;
    background-color: #cc004e;
    width: 150px;
    height: 48px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    padding: 12px 0px;
    text-align: center;
    margin: 0 !important;
}
.contactButton a {
	display: block;
	text-decoration: none;
	font-family: 'PT Sans';
    border-bottom: none !important;
}
.contactButton:hover {
	opacity: 0.75;
}

#scroll {
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12%;
    text-align: center;
}

.container {
    width: 100%;
    height: 100%;
}
#sliders {
	display: table;
    margin: 100px auto;
}

.slider {
	width: 490px;
    height: 800px;
	background-color: #fff;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	display: inline-block;
}

#imgSlider1 {
	height: 490px;
	background: linear-gradient(#f05a60, #e42b59);
}

#imgSlider2 {
	height: 490px;
	background: linear-gradient(#ffcc07, #f89b1c);
}

.images {
    padding-top: 130px;
    padding-left: 145px;
    width: 350px;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}

.images-Slider1 {
    padding-top: 130px;
    padding-left: 145px;
    width: 350px;
    height: auto;
    position: absolute;
    opacity: 0;
    transition: opacity 2s;
}

.title {
	background-color: #fff;
	text-align: center;
	height: 228px;
}

.title h2 {
	margin: 0px;
	padding-top: 30px;
	font-family: 'Montserrat';
	color: black;
}

.title p {
	margin: 0 50px;
	padding-top: 25px;
	font-size: 18px;
	font-family: 'PT Sans';
	line-height: 24px;
	font-style: normal;
	color: #808080;
}

.center ul li a {
	padding-left: 10px;
	text-decoration: none;
	color: #a6a6a6;
	display: block;
}

.center li {
	width: 15px;
	height: 15px;
	list-style-type: none;
	float: left;
	padding: 0;
	margin-left: 30px;
}

.center ul {
	padding: 0px;
	margin: 0px 60px 20px 60px;
}

.circle {
	border-radius: 50%;
	width: 13px;
	height: 13px;
	background-color: #8c8c8c;
	transition-property: transform;
    transition-duration: 0.5s;
}

.circle:hover {
	transform: scale(1.5);
	background-color: #ff9900;
}

.circleSlider1 {
	border-radius: 50%;
	width: 13px;
	height: 13px;
	background-color: #8c8c8c;
	transition-property: transform;
    transition-duration: 0.5s;
}

.circleSlider1:hover {
	transform: scale(1.5);
	background-color: red;
}

.clearfix {
	clear: both;
}

.active {
	background-color: #ff9900;
}
.activeDot {
	background-color: red;
}

.hidden{
	display: none;
}

.activeDiv {
	opacity: 1 !important;
}

.initial {
	display: initial;
}

.mySlides {
	position: absolute;
    width: 490px;
    opacity: 0;
    transition: opacity 2s;
}
.mySlides-Slider1 {
	position: absolute;
    width: 490px;
    opacity: 0;
    transition: opacity 2s;
}

.center {
	position: absolute;
	margin-top: 276px;
    padding-left: 78px;
}

.circle {
	cursor:pointer;
}

@media (max-width: 834px) {
	.slider {
		width: 345px;
    	height: 660px;
	}
	#imgSlider1 {
		height: 345px;
	}

	#imgSlider2 {
		height: 345px;
	}
	.mySlides {
    	width: 345px;
	}
	.mySlides-Slider1 {
    	width: 345px;
	}
	.center {
	    margin-top: 284px;
    	padding-left: 9px;
	}
	.title p {
		margin: 0 20px;
		padding-top: 10px;
		font-size: 16px;
	}
	.images {
    	padding-top: 90px;
    	padding-left: 90px;
    	width: 250px;
	}

	.images-Slider1 {
    	padding-top: 90px;
    	padding-left: 90px;
    	width: 250px;
	}
}

@media (min-width: 768px) and (max-width: 970px) {
	#navigation {
		width: 100%;
	}
}

@media (max-width: 1090px)  {
	.slider {
    	display: block;
}
}

@media (max-width: 375px) {
	.slider {
		width: 280px;
    	height: 600px;
	}
	#imgSlider1 {
		height: 280px;
	}

	#imgSlider2 {
		height: 280px;
	}
	.mySlides {
    	width: 280px;
	}
	.mySlides-Slider1 {
    	width: 280px;
	}
	.center {
	    margin-top: 284px;
    	padding-left: 9px;
	}
	.images {
    	padding-top: 73px;
    	margin-left: 64px;
    	padding-left: 0;
    	width: 157px;
	}
	.images-Slider1 {
    	padding-top: 73px;
    	margin-left: 64px;
    	padding-left: 0;
    	width: 157px;
	}
	.title h2 {
		padding-top: 20px;
		font-size: 22px;
	}

	.title p {
		margin: 0 20px;
		padding-top: 10px;
		font-size: 16px;
	}

	.center ul {
    	margin: 0px 25px 20px 30px;
	}
	.parallax h1 {
		font-size: 22px;
	}
	.parallax p {
		font-size: 16px;
	}
	.parallax-window {
		height: 600px;
	}

}
@media (max-width: 320px) {
	.slider {
		margin: 20px 5px; 
	}
}

.service-header { 
	width:322px;
	text-align:center;
	border-bottom: 2px solid #ccc;
	line-height:0.1em;
	margin: 80px auto;
} 
.service-header span {
	background:#fff;
	padding:0 20px;
	font-weight: bold;
	font-size: 36px;
}
.thumbnail {
	background-color: transparent;
	border: none;
}
.thumbnail a {
	text-decoration: none;
	color: black;
}
.thumbnail h3 {
	font-weight: bold;
}
.icon {
	fill: black;
  	width: 100px;
	margin: 10px;
	fill: url(#linear);
	transition: all .2s ease-in-out;
}
.icon:hover {
	transform: scale(1.1);
}

.featuredProject {
	margin-top: 100px;
	height: 700px;
	padding-top: 100px;
	background: linear-gradient(177deg, #fff 170px, #e6e6e6 0) top left,
		    	linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	background-size: 100% 51%;
	background-repeat: no-repeat;
}

.headerFP {
	padding: 5% 0 5% 12%;
}
.headerFP h1 {
	color: #222;
	line-height: 46px;
	font-weight: bold;
	margin-top: 0;
}
.headerFP p {
	color: #666;
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 20px;
}
.headerFP h4 {
	color: #666;
	font-weight: bold;
}
.vertical {
	position: relative;
	margin-top: 100px;
}

@media (max-width: 1750px) and (min-width: 1401px) {
	.vertical {
    	margin-top: 115px;
	}
	.featuredProject {
    	margin-top: 50px;
    	height: 600px;
    	background: linear-gradient(177deg, #fff 160px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.parallax-window {
		height: 700px;
	}
}
@media (max-width: 1400px) and (min-width: 990px) {
	.vertical {
    	margin-top: 260px;
	}
	.featuredProject {
    	margin-top: 20px;
    	margin-bottom: 50px;
    	height: 678px;
    	background: linear-gradient(177deg, #fff 125px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.parallax-window {
		height: 700px;
	}
}
@media (max-width: 991px) and (min-width: 450px) {
	.vertical {
    	display: none;
	}
	.headerFP {
		padding: 5%;
	}
	.featuredProject {
    	margin-top: 50px;
    	margin-bottom: 50px;
    	height: 500px;
    	background: linear-gradient(177deg, #fff 70px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.parallax-window {
		height: 700px;
	}
}

@media (max-width: 451px) and (min-width: 376px) {
	.vertical {
    	display: none;
	}
	.featuredProject {
		margin-top: 50px;
		margin-bottom: 50px;
    	padding-top: 100px;
    	height: 600px;
    	background: linear-gradient(177deg, #fff 70px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.headerFP {
		padding: 5%;
	}
	.parallax-window {
		height: 700px;
	}
}

@media (max-width: 375px) {
	.vertical {
    	display: none;
	}
	.headerFP {
		padding: 5%;
	}
	.featuredProject {
    	padding-top: 50px;
    	margin-bottom: 50px;
    	height: 600px;
    	background: linear-gradient(177deg, #fff 40px, #e6e6e6 0) top left,
    				linear-gradient(2deg, #fff 145px, #e6e6e6 0) bottom left;
	}
	.service-header {
    	width: 300px;
	}
}

.team {
	padding: 0;
	position: static;
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.63);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.63);
	box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.63);
	-webkit-transition: -webkit-transform 0.4s, box-shadow 0.4s;
    transition: transform 0.4s, box-shadow 0.4s;
}
.team:hover {
	-ms-transform: translate(0,-100px);
    -webkit-transform: translate(0,-100px);
    transform: translate(0,-100px);
    -webkit-box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
	box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
}
.teamImg {
	width: 100%;
}
.teamDiv {
	text-align: center;
	position: absolute;
	bottom: 0;
  	left: 0;
  	right: 0;
  	overflow: hidden;
  	width: 100%;
  	height:0;
  	transition: .5s ease;
}
.team:hover .teamDiv {
	background-color: #fff;
	bottom: -180px;
  	height: 180px;

    -webkit-box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
	box-shadow: 1px 6px 48px -5px rgba(0,0,0,0.75);
}
.teamDiv h2 {
	font-weight: bold;
	padding-bottom: 10px;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.team:hover .teamDiv h2 {
	opacity: 1;
}
.teamDiv p {
	font-size: 18px;
	color: #808080;
	padding-bottom: 10px;
    margin: 0 20px;
	opacity: 0;
	-webkit-transition: opacity 0.1s;
    transition: opacity 0.1s;
}
.team:hover .teamDiv p {
	opacity: 1;
}

.team .text {
	color: #FFF;
    position: absolute;
    bottom: 4%;
    left: 34%;
    visibility: hidden;
}
.team:hover .text {
	visibility: visible;
}
.team-row:hover {
	position: relative;
	z-index: 2;
}
@media (min-width: 769px) and (max-width: 1024px) {
	.team .text {
		left: 22%;
	}
}
@media (min-width: 1025px) and (max-width: 1440px) {
	.team .text {
		left: 30%;
	}
}
@media (max-width: 768px) {
	.team .text {
		left: 30%;
	}
}

.purchase {
	background: url('../images/purchase-background.jpg');
	background-position: 100% 100%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	position: relative;
    z-index: 1;
}
.purchaseDiv {
	padding: 10% 0;
    margin-left: 15%;
    width: 25%;
}

@media (max-width: 991px) {
	.purchase {
		background: #fff;
	}
	.purchaseDiv {
		width: 70%;
	}
}

.contact {
	position: relative;
    z-index: 2;
    padding: 2% 0 3% 0;
    text-align: center;
    letter-spacing: 1.5px;
}
.contact h1 {
	color: #fff;
	line-height: 46px;
    font-weight: bold;
    margin-bottom: 10px;
}
.contact form {
	margin: 0 auto; 
	max-width: 600px;
}

.input--hoshi {
	font-size: 25px;
}
.input__label-content--hoshi {
	color: #fff;
}
.button-send {
	border-radius: 25px;
    background-color: #fff;
    width: 160px;
    height: 48px;
    display: block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #cc004e;
    padding: 12px 0px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: none;
}
.button-send:hover {
	background-color: #cc004e;
	color: #fff;
}
.social {
	position: relative;
	z-index: 1;
	background: #fff;
	padding-left: 5%;
	padding-right: 5%;
}
.social-icons {
	width: 50px;
	height: 50px;
	display: block;
	margin: 50px auto;
	fill: #b3b3b3;
}
.social-icons:hover {
	fill: #cc004e;
}

footer {
	border-top: 3px solid #b3b3b3;
}
.footer {
	position: relative;
	z-index: 3;
    text-align: center;
    margin: 50px 0;
}
.footer img {
	width: 200px;
	margin-bottom: 20px;
}
.footer h3 {
	font-weight: bold;
}
.footer h3 a {
	color: #cc004e;
	font-weight: normal;
}